*{
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}

html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(164, 195, 195);
    align-items: center;
    display: flex;
    justify-content: center;
}
#big{
    overflow: hidden;
    position: relative;
    background-color: brown;
    border-radius: 20px;
    height: 500px;
    width:400px;    
}
#big img{
    height:100%;
    width:100%; 
    object-fit:cover;
    object-position: top;
}
#big i{
    color:rgb(243, 5, 5);
    font-size: 75px;
    position: absolute;
    top:50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%,-50%) scale(1);
    transition: transform ease 0.5s;
}